extends layout

block style
    include css/answer.css

block content
    form(method='POST' action='/answer/')
        #content
            .tablew
                h5='Antwort zu Frage: ' + question
                table.table
                    tr
                        th Antwort
                        th Richtig/Falsch
                        th Bearbeiten
                        th Löschen
                    for answer in answers
                        tr
                            td=answer.answer
                            td
                                div.actionItems
                                    span(style={display: answer.isCorrect ? 'inline' : 'none', color: 'green'})
                                        i.fas.fa-check-circle
                                    span(style={display: answer.isCorrect ? 'none' : 'inline', color: 'red'})
                                        i.fas.fa-times-circle
                            td
                                div.actionItems
                                    a(href='/answer/' + answer.answerId)
                                        i.fas.fa-edit
                            td
                                div.actionItems
                                    a(href='/answer/delete/' + answer.answerId)
                                        i.fas.fa-trash-alt
                    tr
                        td
                            div.inputItems
                                input(type='text' id='answer' name='answer' placeholder='Neue Antwort' required)
                        td
                            div.inputItems
                                input(type='hidden' name='isCorrect' value=0)
                                input(type='checkbox' id='isCorrect' onclick="this.previousSibling.value=1-this.previousSibling.value")
                                label(for='isCorrect')='ist richtig'
                                input(type='hidden' id='questionId' name='questionId' value=questionId required)
                        td
                            div.actionItems
                                button(type='submit' class='btn btn-success')
                                    i.fas.fa-plus  Hinzufügen
