extends layout

block style
    include css/home.css

block content

    .whup
        .classText Your Subjects
        p
        .list-group
            for subject in subjects
                a.list-group-item.list-group-item-action(href='/subject=' + subject.subjectName)=subject.subjectName
