doctype html
html
    head
        title 'SE3 Games'
        script (src = "https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script (src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script (src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    script
        block script

    style
        block style

    body
        style
            include css/background.css
        .wrapper
            nav.navbar.navbar-expand-md.navbar-light
                .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home
                .navbar-collapse.collapse.w-100.order-3.dual-collapse2
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.active(href='/cc') Settings
                        li.nav-item
                            a.nav-link.active(href='/logout') Logout
            block content


