doctype html
html
    head
        title 'SE3 Games'
        script (src = "https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script (src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script (src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')

    script
        block script

    style
        block style

    body
        style
            include css/layout.css
        .wrapper
            nav.navbar.navbar-expand-md.navbar-light
                .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/home') Home
                .mx-auto.order-0
                    a.navbar-brand.mx-auto(href='#')
                        img(src='/images/logo.png', alt='')
                .navbar-collapse.collapse.w-100.order-3.dual-collapse2
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.active(href='/cc') Settings
                        li.nav-item
                            a.nav-link.active(href='/logout') Logout
            block content
