extends layout

block style
    include css/set.css

block content
    form(method='POST' action='/dvw/set/')
        #content
            .tablew
                h5='Set zu Thema: ' + topic
                br
                table.table
                    tr
                        th Set Name
                        th Bearbeiten
                        th Löschen
                        th Zur Frage
                    for set in sets
                        tr
                            td=set.setName
                            td
                                div.actionItems
                                    a(href='/dvw/set/' + set.setId)
                                        i.fas.fa-edit
                            td
                                div.actionItems
                                    a(href='/dvw/set/delete/' + set.setId)
                                        i.fas.fa-trash-alt
                            td
                                div.actionItems
                                    a(href='/dvw/question/getAll/' + set.setId)
                                        i.fas.fa-arrow-right
                    tr
                        td Neues Set
                        td
                            input.form-control(type='text' id='setName' name='setName' placeholder='Set-Name' required)
                            input.form-control(type='hidden' id='topicId' name='topicId' value=topicId required)
                        td
                            div.actionItems
                                button(type='submit' class='btn btn-success')
                                    i.fas.fa-plus  Hinzufügen
                        td

