extends layout

block style
    include css/topic_edit.css

block content
    form(method='POST' action='/topic/update')
        #content
            div.tablew
                table.table.table-striped
                    tr
                        th Topic Name
                        th Actions
                    tr
                        td
                            input.form-control(type='text' id='topicName' placeholder=topic.topicName name='topicName' required)
                        td
                            div.actionItems
                                button(type='submit' class='btn btn-success')
                                    i.fas.fa-save

