extends layout

block style
    include css/topic_edit.css

block content
    form(method='POST' action='/dvw/topic/update')
        #content
            div.tablew
                p.title Thema Namen bearbeiten
                br
                table.table
                    tr
                        th Thema-Name
                        th Speichern
                    tr
                        td
                            input.form-control(type='text' id='topicName' placeholder=topic.topicName name='topicName' required)
                            input(type='hidden' id='topicId' value=topic.topicId name='topicId')
                        td
                            div.actionItems
                                button(type='submit' class='btn btn-success')
                                    i.fas.fa-save

