.wrapper {
    background: linear-gradient(to bottom right, #f95e2f 0%, #fc8b11 100%);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    font-family: 'Source Sans Pro', sans-serif;
}
