#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

table {
    background-color: white;
}

.tablew {
    width: 70%;
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    margin: auto;
}


div.actionItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
